{% extends 'base.html' %}

{% block content %}

<div class="container">
  <div class="jumbotron" style="padding-bottom: 15px; background-color: #E8F0FF">
    <h1 class="display-4">Welcome!</h1>
    <p class="lead">You have <strong>{{ files | length }}</strong> files waiting for you.</p>
    <p class="lead">

      {% if show %}

        Your top three used tags are:

        {% if files | length == 0 %}

          <strong>wait...you have no files! :(</strong>

        {% else %}

          {% for i in range(stats | length) %}

            {% if i < 3 %}

              <strong>{{ stats[i][0] }}</strong>

            {% endif %}

          {% endfor %}

        {% endif %}

      {% endif %}

    </p>

    <p class="lead">

      {% if last %}

        The last file you uploaded was: <a href="/retrieve/{{ last.id }}" target="_blank" data-toggle="lightbox">{{ last.name }}</a>

      {% endif %}

    </p>
  </div>
</div>

<div class="container pt-3"> <!-- https://getbootstrap.com/docs/4.0/utilities/spacing/ -->
  <div>
    <h1 style="color: #3C464F;">Your Files</h1>
    <form class="form-inline my-2 my-lg-0" method="GET" action="/tag"> <!-- from: http://localhost:5000, redirect to: http://localhost:5000/tag?user_tag={input} -->
      <input class="form-control mr-sm-2" type="text" placeholder="Search by tag" aria-label="Search" name="user_tag">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>

  <br>

  <!-- '/retrieve/' means to do base url + (replace everything else with this URL extension), 'retrieve/' means to append this onto whatever the current URL is -->
  <ul class="list-group">
    <div class="container">

    {% for item in files %}

        <div class="row item_custom">
          <div class="col-md-11 list_custom">
            <div style="overflow: hidden;">
              <a href="/retrieve/{{item.id}}" target="_blank">

                {% if item.name.split('.')[-1] != 'pdf' and item.name.split('.')[-1] != 'doc' and item.name.split('.')[-1] != 'docx' %}

                  <img class="custom_img" src="http://localhost:5000/retrieve/{{item.id}}" width="40px" height ="40px">

                {% else %}

                  <img class="custom_img" src="/static/media/placeholder.png" width="40px" height ="40px">

                {% endif %}

                <span class="custom_txt">{{ item.name }}</span>

              </a>

              <div style="float: right">

                {% for tag in item.tag.split(' ') %}

                  {% if tag == 'NO_TAG' %}

                    <span class="badge badge-primary"> no tags available :( </span>

                  {% elif tag == '' %}

                  {% else %}

                    <span class="badge badge-primary"> {{ tag }} </span>

                  {% endif %}

                {% endfor %}

              </div>
            </div>
          </div>
          <div class="col-sm-1 button_custom">
            <button id=" {{ item.id }}" type="button" class="btn btn-danger" onclick="location.href = '/delete/{{ item.id }}';"">Delete</button>
          </div>
        </div>

    {% endfor %}

    </div>
  </ul>
</div>

{% endblock %}
