{% extends 'base.html' %}

{% block content %}

<div class="container">
  <div class="jumbotron" style="padding-bottom: 15px;">
    <h1 class="display-4">About Me</h1>
    <p class="lead">Hi, <a href="http://chris-nguyen.me/" target="_blank">I'm Christopher Nguyen!</a></p>
    <hr class="my-4">
    <ul>
      <li>I'm a senior Computer Science student at York University.</li>

      <br>

      <li>I've done three prior internships, and looking to Shopify to be my fourth!</li>

      <br>

      <li>You can view my resume <a href="http://chris-nguyen.me/resume.pdf" target="_blank">here</a>.</li>
    </ul>
  </div>
</div>

{% endblock %}
