{% extends 'base.html' %}

{% block content %}

<div class="container">
  <div class="jumbotron" style="padding-bottom: 15px; background-color: #E8F0FF">
    <h1 class="display-4">About Me</h1>
    <p class="lead">Hello, world!</p>
    <hr class="my-4">

    <h3>Who am I?</h3>
    <p>
      My name is <a href="http://chris-nguyen.me/" target="_blank">Christopher Nguyen</a>. I'm currently a senior Computer Science student studying
      at York University. I've done two prior internships (<a href="https://fellowship.mlh.io/" target="_blank">MLH Fellowship</a>,
      <a href="https://www.caseware.com/ca" target="_blank">CaseWare</a>), doing a third this upcoming winter (<a href="https://mda.space/" target="_blank">MDA Space</a>),
      and would love to have Shopify be my fourth this summer.

      <br><br>

      Historically, most of my experience has been in backend development. My <a href="https://github.com/chrisngyn" target="_blank">projects</a> are all
      largely backend related and my first internship was a Python focused backend role in open source. My second internship was primarily in frontend development,
      and I'm happy for the opportunity to experience both disciplines in a professional environment.
    </p>

    <br>

    <h3>Why Shopify?</h3>
    <p>
      Ever since I was a first year university student, I've always been very interested in working at Shopify. I think that Shopify's mission of trying to make
      e-commerce better for everyone is an especially challenging problem to solve.

      <br><br>

      Providing people with the ability to become an entrepreneur regardless of your background is especially important and powerful. My sister has a store powered by the
      Shopify platform - no programming or financial expertise needed. Just an idea and motivation to make it happen - and Shopify takes care of all the technical work in the
      background such as setting up the store and payment system, allowing merchants to fully focus on their merchandise.

      <br><br>

      Enabling people with the ability to be become an entrepreneur regardless of prior experience, formal education, and background is incredible.
      I want to be part of this journey to make e-commerce better for everyone.
    </p>

    <br>

    <h3>Why me?</h3>
    <p>
      I am crazy motivated about things I am passionate about, and Shopify is a company that puts a lot of emphasis on enabling people to start their own business.
      I've always helped Shopify at such a high esteem, and will continuously keep getting inspiring by the good Shopify does.

      <br><br>

      I'm in my last year of my studies and on my way to do my third internship - I want to use all the experiences I've garnered and things I've learned and make a large
      impact at Shopify.
    </p>

    <br>

    <h3>Anything else?</h3>
    <p>
      I write funny <a href="https://twitter.com/_chrisnguyn" target="_blank">tweets</a> sometimes.

      <br><br>

      I also really like the <a href="https://en.wikipedia.org/wiki/Hamilton_(musical)" target="_blank">Hamilton</a> musical.
    </p>
  </div>
</div>

{% endblock %}
