{% extends 'base.html' %}

{% block content %}

<div class="container">
  <div class="jumbotron" style="padding-bottom: 15px;">
    <h1 class="display-4">About You</h1>
    <p class="lead">Hi there, whoever you are!</p>
    <hr class="my-4">
    <ul>
      <li>I wish I had things to write here about you. I'm not a fortune teller, so I can't predict these things.</li>

      <br>

      <li>I'd love to learn more about you though, so tell me about yourself (in an interview? :D)</li>
    </ul>
  </div>
</div>

{% endblock %}
