{% extends 'base.html' %}

{% block content %}

<div class="container">
  <div class="jumbotron" style="padding-bottom: 15px; background-color: #E8F0FF">
    <h1 class="display-4">About You</h1>
    <p class="lead">Hello, whomever you are!</p>
    <hr class="my-4">
    <p>
      Yeah, I wish I had things to write here about you too. I'm not a fortune teller though, so I can't predict these things.

      <br><br>

      I'd love to learn more about you though, so tell me about yourself (maybe in an interview, even? &#128516; )

      <br><br>

      (Hope this wasn't too cheeky. Looking forward to hearing back from the Shopify team! &#10084; )
    </p>
  </div>
</div>

{% endblock %}
